* {
   box-sizing: border-box;
}

.app-container {
   display: flex;
   flex-direction: column;
}

.form {
   display: flex;
   width: 45rem;
   gap: 1rem;
   margin: 1rem 0 0 0;
}

.form-btn {
   height: 38px;
}

.search-form {
   display: flex;
   gap: 1rem;
   margin-bottom: 2rem;
}

.search-field {
   width: 300px;
}

.search-btn {
   height: 38px;
}

.list {
   display: flex;
   flex-direction: column;
   width: 500px;
}

.item {
   display: flex;
   gap: 10px;
   margin-bottom: 10px;
}

.item-name {
   width: 220px;
   font-size: 20px;
}

.item-price {
   margin-left: auto;
   font-size: 20px;
   margin-left: 1rem;
}

.button-controll {
   margin-left: auto;
}

.item-btn {
   margin-left: 10px;
}
